@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  background-color: black;
  transition: background 0.2s;
}

.light {
  background-color: white;
  transition: background 0.2s;
}

@theme {
  --animate-typewriter: typewriter 2s steps(18) forwards;
  --animate-caret: typewriter 2s steps(18) forwards,
    blink 1s steps(18) infinite 2s;
  --animate-fade-in: fade-in 0.2s ease-in-out forwards;
  --animate-fade-out: fade-out 0.2s ease-in-out forwards;
  --animate-open-chevron: open-chevron 0.2s ease-in-out forwards;
  --animate-close-chevron: close-chevron 0.2s ease-in-out forwards;

  @keyframes close-chevron {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes open-chevron {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    0.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    50.1% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
